.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
    
}

.mole{
    background-image: url('cheems\ \(1\).png');
}
body{
    cursor: url('hammer.png'),auto;
}
body:active {
    cursor: url('hammer2.png'),auto;
}
.mole:active {
    background-image: url('cheems_ritat.png');
}